@charset "UTF-8";

@media all and (max-width:1600px){
    /* section1 */
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 .slide-gap .slide-content .text-gap .text-wrap .top-text h2 {font-size:60px;}

    /* section2 */
    #wrap #main #section2 .wrap .gap .container .title h2 {font-size:85px;font-weight:600;}
}

@media all and (max-width:1360px){
    #wrap #header .wrap .gap {margin:0 50px;}
    /* section1 */
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide {background-size:auto 100%;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap {padding:0 15px 70px 15px ;}
    #wrap #main #section1 .wrap .gap .container .slide-container .pagenation-box {bottom:3%;}

    /* section1_slide_top_text */
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text {width:100%;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text h3 {font-size:18px;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text h2 {font-size:60px;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text h4 {font-size:18px;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text h4 > strong {font-size:20px;}
    /* section1_slide_bottom_text */
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text p {font-size:17px;}

    /* section1_slide_bottom_btn */
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box {width:100%;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box .left-btn {width:188px;height:48px;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box .left-btn .before {font-size:14px;line-height:48px;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box .left-btn .after > span {position:absolute;font-size:14px;bottom:0;left:0;line-height:48px;width:100%;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box .right-btn {width:188px;height:48px;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box .right-btn > span.before {font-size:14px;line-height:48px;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box .right-btn > span.after > span {position:absolute;font-size:14px;bottom:0;left:0;line-height:48px;width:100%;}

    /* section1_slide_arrow */
    #wrap #main #section1 .wrap .gap .container .slide-container .arrow-next {right:3%;}
    #wrap #main #section1 .wrap .gap .container .slide-container .arrow-prev {left:3%;}

    /* section4 */
    #wrap #main #section4 .wrap .gap {padding:0 7.3529412% (100px);}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content .title span {font-size:11px;padding-bottom:3.3619096%;}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content .title strong {display:block;font-size:20px;font-weight:400;}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content .slide-btn-box {display:block;width:100%;height:56px;}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content .slide-btn-box .active-btn {height:45px;line-height:45px;}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content .slide-btn-box .active-btn .before {font-size:15px;}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content .slide-btn-box .active-btn .after > span {font-size:13px;}
    /* section4_arrow_btn */
    #wrap #main #section4 .wrap .gap .container .content .arrow-next {margin-top:-10px;right:-50px;width:20px;height:20px;}
    #wrap #main #section4 .wrap .gap .container .content .arrow-prev {margin-top:-10px;left:-50px;width:20px;height:20px;}

}

@media all and (max-width:1300px){
    #wrap #header .wrap .gap .container #aside > ul > li {padding-left:10px;}
    #wrap #header .wrap .gap .container #aside > ul > li.contact > div > div .full {display:none;}
    #wrap #header .wrap .gap .container #aside > ul > li.contact > div > div .media {display:block;}
}

@media all and (max-width:1200px){
    /* section2 */
    #wrap #main #section2 .wrap .gap .container .title h2 {font-size:75px;font-weight:600;}
}

@media all and (max-width:1020px){
    #wrap #header {height:50px;}
    #wrap #header .wrap .gap {margin:0 15px;}
    #wrap #header .wrap .gap .container #logo {padding-top:14px;}
    #wrap #header .wrap .gap .container #nav {display:none;}
    #wrap #header .wrap .gap .container #aside > ul > li.contact > div .support-wrap {display:none;}
    #wrap #header .wrap .gap .container #aside > ul > li.contact > div > div .media {line-height:47px;}
    #wrap #header .wrap .gap .container #aside > ul > li.search {display:none;}
    #wrap #header .wrap .gap .container #aside > ul > li.meun-plus .aside-btn {width:50px;height:50px;}
    #wrap #header .wrap .gap .container #aside > ul > li.meun-plus .aside-btn .ham-gap {padding:15px;}

    /* section1 */
    #wrap #main #section1 {padding-top:50px;}

    /* section2 */
    #wrap #main #section2 .wrap .gap .container .content .cube-btn-box {right:20px;}

    /* section3 */
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 .slide-img-wrap {z-index:1;position:relative;width:100%;height:100%;background:url(../img/1.jpg) no-repeat 50% 50%;background-size:cover;}
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 .slide-img-wrap .col {display:none;}
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 .slide-img-wrap .col0 {top:0;left:calc(50%*0);}
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 .slide-img-wrap .col1 {bottom:0;left:calc(50%*1);}
    
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 .slide-img-wrap {z-index:1;position:relative;width:100%;height:100%;background:url(../img/2.jpg) no-repeat 50% 50%;background-size:cover;}
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 .slide-img-wrap .col {display:none;}
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 .slide-img-wrap .col0 {top:0;left:calc(50%*0);}
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 .slide-img-wrap .col1 {bottom:0;left:calc(50%*1);}
    
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2 .slide-img-wrap {z-index:1;position:relative;width:100%;height:100%;background:url(../img/3.jpg) no-repeat 50% 50%;background-size:cover;}
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2 .slide-img-wrap .col {display:none;}
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2 .slide-img-wrap .col0 {top:0;left:calc(50%*0);}
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2 .slide-img-wrap .col1 {bottom:0;left:calc(50%*1);}
    
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide3 .slide-img-wrap {z-index:1;position:relative;width:100%;height:100%;background:url(../img/4.jpg) no-repeat 50% 50%;background-size:cover;}
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide3 .slide-img-wrap .col {display:none;}
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide3 .slide-img-wrap .col0 {top:0;left:calc(50%*0);}
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide3 .slide-img-wrap .col1 {bottom:0;left:calc(50%*1);}
    
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide4 .slide-img-wrap {z-index:1;position:relative;width:100%;height:100%;background:url(../img/5.jpg) no-repeat 50% 50%;background-size:cover;}
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide4 .slide-img-wrap .col {display:none;}
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide4 .slide-img-wrap .col0 {top:0;left:calc(50%*0);}
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide4 .slide-img-wrap .col1 {bottom:0;left:calc(50%*1);}

    /* section4 */
    /* #wrap #main #section4 .wrap .gap {padding:0 48px;}
    #wrap #main #section4 .wrap .gap .container > .title {width:100%;text-align:center;padding-bottom:50px;}
    #wrap #main #section4 .wrap .gap .container > .title h2 {font-size:30px;padding-bottom:20px;}
    #wrap #main #section4 .wrap .gap .container > .title h3 {font-size:14px;color:#ccc;}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap {position:relative;left:0;width:calc(308px*5);}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide {float:left;width:308px;}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap {padding:0 10px;}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content {padding:18px 20px 29px 20px;}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content .slide-img-box {padding:36px 0 20px 0;} */
    /* section4_arrow_btn */
    #wrap #main #section4 .wrap .gap .container .content .arrow-next {right:-15px;}
    #wrap #main #section4 .wrap .gap .container .content .arrow-prev {left:-15px;}
}

@media all and (max-width:980px){
    /* section1 */
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide {background:url(../img/slide_0_mobile.jpg) no-repeat 50% 50%;background-size:cover;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide::before {z-index:5;position:absolute;content:'';right:0;bottom:0;top:auto;height:30%;width:100%;background-image: linear-gradient(to bottom, transparent, #111);}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide::after {z-index:5;position:absolute;content:'';left:0;top:0;height:40%;width:100%;background-image: linear-gradient(to top, transparent, #111);opacity:.85;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 {background-image:url(../img/slide_0_mobile.jpg);}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 {background-image:url(../img/slide_1_mobile.jpg);}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2 {background-image:url(../img/slide_2_mobile.jpg);}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide3 {background-image:url(../img/slide_3_mobile.jpg);}

    /* section1_slide_top_text */
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap {padding:56px 15px 20px 15px;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text {width:100%;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text h3 {font-size:16px;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text h2 {font-size:50px;line-height:120%;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text h4 {font-size:16px;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text h4 > strong {font-size:18px;}
    /* section1_slide_bottom_text */
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text p {font-size:17px;}

    /* section1_slide_bottom_btn */
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box {width:100%;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box .left-btn {width:100%;margin-bottom:10px;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box .left-btn .before {margin-bottom:10px;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box .right-btn {width:100%;}

    /* section1_slide_arrow */
    #wrap #main #section1 .wrap .gap .container .slide-container .arrow-next {z-index:2;position:absolute;top:auto;bottom:3%;margin-top:0;right:3%;width:15px;height:15px;border-top:2px solid #fff;border-right:2px solid #fff;transform:rotate(45deg);}
    #wrap #main #section1 .wrap .gap .container .slide-container .arrow-prev {z-index:2;position:absolute;top:auto;bottom:3%;margin-top:0;left:3%;width:15px;height:15px;border-top:2px solid #fff;border-left:2px solid #fff;transform:rotate(-45deg);}

    /* section2 */
    #wrap #main #section2 .wrap {padding:100px 0;}
    #wrap #main #section2 .wrap .gap .container .title h2 {font-size:50px;font-weight:600;}
    #wrap #main #section2 .wrap .gap .container .content .cube {width:250px;height:250px;}
    #wrap #main #section2 .wrap .gap .container .content .cube.addAuto {width:250px;height:250px;}
    #wrap #main #section2 .wrap .gap .container .content .cube .g80.front   {transform:rotateY(0deg)    translateZ(125px);}
    #wrap #main #section2 .wrap .gap .container .content .cube .g80.back    {transform:rotateY(180deg)  translateZ(125px);}
    #wrap #main #section2 .wrap .gap .container .content .cube .g80.side    {transform:rotateY(90deg)   translateZ(125px);}
    #wrap #main #section2 .wrap .gap .container .content .cube .g80.inside  {transform:rotateY(-90deg)  translateZ(125px);}
    #wrap #main #section2 .wrap .gap .container .content .cube .g80.inside2 {transform:rotateX(90deg)   translateZ(125px);}
    #wrap #main #section2 .wrap .gap .container .content .cube .g80.auto    {transform:rotateX(-90deg)  translateZ(125px);}

    /* section3_slide_arrow-btn */
    #wrap #main #section3 .wrap .gap .container .slide-container .arrow-next {margin-top:-10px;width:20px;height:20px;}
    #wrap #main #section3 .wrap .gap .container .slide-container .arrow-prev {margin-top:-10px;width:20px;height:20px;}


}

@media all and (max-width:780px){
    /* section2 */
    #wrap #main #section2 .wrap {padding:130px 0;}
    #wrap #main #section2 .wrap .gap .container .title.top-title {top:10%;}
    #wrap #main #section2 .wrap .gap .container .title.bottom-title {bottom:0;}
    #wrap #main #section2 .wrap .gap .container .content {position:relative;width:100%;text-align:center;padding:50px 0;}
    #wrap #main #section2 .wrap .gap .container .content .cube-btn-box {text-align:center;top:100%;right:0;width:100%;}
    #wrap #main #section2 .wrap .gap .container .content .cube-btn-box .cube-btn {display:inline-block;width:70px;padding-bottom:0;padding-right:10px;}
    #wrap #main #section2 .wrap .gap .container .content .cube-btn-box .cube-btn .cube-chk {display:inline-block;width:10px;height:10px;border-radius:50%;background:rgba(255,255,255,.6);margin-right:10px;}
    #wrap #main #section2 .wrap .gap .container .content .cube-btn-box .cube-btn.addCubeChk .cube-chk {background:transparent;border:3px solid #fff;}
    #wrap #main #section2 .wrap .gap .container .content .cube-btn-box .cube-btn .cube-txt {display:inline-block;color:#fff;font-size:15px;}
}

@media all and (max-width:570px){
    #wrap #main #section2 .wrap .gap .container .title h2 {font-size:40px;font-weight:600;}
    #wrap #main #section2 .wrap .gap .container .content .cube-btn-box {text-align:center;top:100%;right:0;width:100%;}
    #wrap #main #section2 .wrap .gap .container .content .cube-btn-box .cube-btn {display:inline-block;width:50px;padding-bottom:0;padding-right:5px;}
    #wrap #main #section2 .wrap .gap .container .content .cube-btn-box .cube-btn .cube-chk {display:inline-block;width:10px;height:10px;border-radius:50%;background:rgba(255,255,255,.6);margin-right:5px;}
    #wrap #main #section2 .wrap .gap .container .content .cube-btn-box .cube-btn.addCubeChk .cube-chk {background:transparent;border:3px solid #fff;}
    #wrap #main #section2 .wrap .gap .container .content .cube-btn-box .cube-btn .cube-txt {display:inline-block;color:#fff;font-size:15px;}
}
@media all and (max-width:410px){
    /* section1_slide_top_text */
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text h3 {font-size:14px;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text h2 {font-size:40px;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text h4 {font-size:14px;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 .slide-gap .slide-content .text-gap .text-wrap .top-text h4 {width:70%;font-size:14px;line-height:130%;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text h4 > strong {font-size:16px;}
    /* section1_slide_bottom_text */
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text p {font-size:15px;}
}