@charset "UTF-8";

@media all and (max-width:1600px){
    /* section1 */
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 .slide-gap .slide-content .text-gap .text-wrap .top-text h2 {font-size:60px;}

    /* section2 */
    #wrap #main #section2 .wrap .gap .container .title h2 {font-size:85px;font-weight:600;}

    /* section5 */
    #wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-con-txt .txt-gap .txt-wrap {padding:0 100px 56px;}/* 720px */
    #wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-con-txt .txt-gap .txt-wrap .txt-inner strong {font-size:42px;line-height:120%;}
    #wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-con-txt .txt-gap .txt-wrap .txt-inner p {font-size:14px;line-height:200%;margin-top:18px;}
    #wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-timer-box .timer-gap .timer-wrap .timer-swipe .timer-move-btn .text .text-pc {font-size:14px;}

    /* section9 */
    #wrap #main #section9 .wrap .gap {margin:0 5%;}

}

@media all and (max-width:1360px){
    #wrap #header .wrap .gap {margin:0 50px;}
    /* section1 */
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide {background-size:auto 100%;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap {padding:0 15px 70px 15px ;}
    #wrap #main #section1 .wrap .gap .container .slide-container .pagenation-box {bottom:3%;}

    /* section1_slide_top_text */
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text {width:100%;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text h3 {font-size:18px;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text h2 {font-size:60px;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text h4 {font-size:18px;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text h4 > strong {font-size:20px;}
    /* section1_slide_bottom_text */
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text p {font-size:17px;}

    /* section1_slide_bottom_btn */
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box {width:100%;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box .left-btn {width:188px;height:48px;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box .left-btn .before {font-size:14px;line-height:48px;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box .left-btn .after > span {position:absolute;font-size:14px;bottom:0;left:0;line-height:48px;width:100%;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box .right-btn {width:188px;height:48px;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box .right-btn > span.before {font-size:14px;line-height:48px;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box .right-btn > span.after > span {position:absolute;font-size:14px;bottom:0;left:0;line-height:48px;width:100%;}

    /* section1_slide_arrow */
    #wrap #main #section1 .wrap .gap .container .slide-container .arrow-next {right:3%;}
    #wrap #main #section1 .wrap .gap .container .slide-container .arrow-prev {left:3%;}

    /* section4 */
    #wrap #main #section4 .wrap .gap {padding:0 7.3529412%;}/* (100px) */
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content .title span {font-size:11px;padding-bottom:3.3619096%;}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content .title strong {display:block;font-size:20px;font-weight:400;}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content .slide-btn-box {display:block;width:100%;height:45px;}/*  */
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content .slide-btn-box .active-btn {height:45px;line-height:45px;}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content .slide-btn-box .active-btn .before {font-size:15px;}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content .slide-btn-box .active-btn .after > span {font-size:13px;}
    /* section4_arrow_btn */
    #wrap #main #section4 .wrap .gap .container .content .arrow-next {margin-top:-10px;right:-50px;width:20px;height:20px;}
    #wrap #main #section4 .wrap .gap .container .content .arrow-prev {margin-top:-10px;left:-50px;width:20px;height:20px;}

    /* section5 */
    #wrap #main #section5 .wrap .gap .container .title {text-align:center;padding-bottom:53px;}
    #wrap #main #section5 .wrap .gap .container .title h2 {font-size:20px;}
    #wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-con-txt .txt-gap .txt-wrap {/* width:40%; */padding:0 76px 36px;}/* 720px */
    #wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-con-txt .txt-gap .txt-wrap .txt-inner strong {font-size:26px;line-height:120%;}
    #wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-con-txt .txt-gap .txt-wrap .txt-inner p {font-size:12px;line-height:200%;margin-top:10px;}
    #wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-timer-box .timer-gap .timer-wrap .timer-swipe .timer-move-btn .text .text-pc {font-size:12px;}
    #wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-timer-box .timer-gap {margin:0 76px;}

}

@media all and (max-width:1300px){
    #wrap #header .wrap .gap .container #aside > ul > li {padding-left:10px;}
    #wrap #header .wrap .gap .container #aside > ul > li.contact > div > div .full {display:none;}
    #wrap #header .wrap .gap .container #aside > ul > li.contact > div > div .media {display:block;}
}

@media all and (max-width:1200px){
    /* section2 */
    #wrap #main #section2 .wrap .gap .container .title h2 {font-size:75px;font-weight:600;}

    /* section7 */
    #wrap #main #section7 .wrap .gap .container .content .content-gap {margin:0 50px;}
    #wrap #main #section7 .wrap .gap .container .content .content-gap .content-wrap .txt-wrap {position:absolute;top:30%;left:0;width:100%;}
    #wrap #main #section7 .wrap .gap .container .content .content-gap .content-wrap .txt-wrap .txt1 h2 span.pc-type{font-size:30px;}

    #wrap #main #section7 .wrap .gap .container .content .content-gap .content-wrap .txt-wrap .txt2 {margin:30px 0 20px 0;}
    #wrap #main #section7 .wrap .gap .container .content .content-gap .content-wrap .txt-wrap .txt2 strong span.pc-type{font-size:15px;}

    #wrap #main #section7 .wrap .gap .container .content .content-gap .content-wrap .txt-wrap .txt3 .active-btn {width:150px;height:45px;border:1px solid #fff;line-height:45px;}
    #wrap #main #section7 .wrap .gap .container .content .content-gap .content-wrap .txt-wrap .txt3 .active-btn .before {font-size:15px;}
    #wrap #main #section7 .wrap .gap .container .content .content-gap .content-wrap .txt-wrap .txt3 .active-btn .after > span {font-size:15px;}
}

@media all and (max-width:1020px){
    #wrap #header {height:50px;}
    #wrap #header .wrap .gap {margin:0 15px;}
    #wrap #header .wrap .gap .container #logo {padding-top:14px;}
    #wrap #header .wrap .gap .container #nav {display:none;}
    #wrap #header .wrap .gap .container #aside > ul > li.contact > div .support-wrap {display:none;}
    #wrap #header .wrap .gap .container #aside > ul > li.contact > div > div .media {line-height:47px;}
    #wrap #header .wrap .gap .container #aside > ul > li.search {display:none;}
    #wrap #header .wrap .gap .container #aside > ul > li.meun-plus .aside-btn {width:50px;height:50px;}
    #wrap #header .wrap .gap .container #aside > ul > li.meun-plus .aside-btn .ham-gap {padding:15px;}

    /* section1 */
    #wrap #main #section1 {padding-top:50px;}

    /* section2 */
    #wrap #main #section2 .wrap .gap .container .content .cube-btn-box {right:20px;}

    /* section3 */
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 .slide-img-wrap {z-index:1;position:relative;width:100%;height:100%;background:url(../img/1.jpg) no-repeat 50% 50%;background-size:cover;}
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 .slide-img-wrap .col {display:none;}
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 .slide-img-wrap .col0 {top:0;left:calc(50%*0);}
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 .slide-img-wrap .col1 {bottom:0;left:calc(50%*1);}
    
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 .slide-img-wrap {z-index:1;position:relative;width:100%;height:100%;background:url(../img/2.jpg) no-repeat 50% 50%;background-size:cover;}
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 .slide-img-wrap .col {display:none;}
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 .slide-img-wrap .col0 {top:0;left:calc(50%*0);}
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 .slide-img-wrap .col1 {bottom:0;left:calc(50%*1);}
    
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2 .slide-img-wrap {z-index:1;position:relative;width:100%;height:100%;background:url(../img/3.jpg) no-repeat 50% 50%;background-size:cover;}
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2 .slide-img-wrap .col {display:none;}
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2 .slide-img-wrap .col0 {top:0;left:calc(50%*0);}
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2 .slide-img-wrap .col1 {bottom:0;left:calc(50%*1);}
    
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide3 .slide-img-wrap {z-index:1;position:relative;width:100%;height:100%;background:url(../img/4.jpg) no-repeat 50% 50%;background-size:cover;}
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide3 .slide-img-wrap .col {display:none;}
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide3 .slide-img-wrap .col0 {top:0;left:calc(50%*0);}
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide3 .slide-img-wrap .col1 {bottom:0;left:calc(50%*1);}
    
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide4 .slide-img-wrap {z-index:1;position:relative;width:100%;height:100%;background:url(../img/5.jpg) no-repeat 50% 50%;background-size:cover;}
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide4 .slide-img-wrap .col {display:none;}
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide4 .slide-img-wrap .col0 {top:0;left:calc(50%*0);}
    #wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide4 .slide-img-wrap .col1 {bottom:0;left:calc(50%*1);}

    /* section4 */
    #wrap #main #section4 .wrap .gap {padding:0 58px;}
    #wrap #main #section4 .wrap .gap .container > .title {width:100%;text-align:center;padding-bottom:50px;}
    #wrap #main #section4 .wrap .gap .container > .title h2 {font-size:30px;padding-bottom:20px;}
    #wrap #main #section4 .wrap .gap .container > .title h3 {font-size:14px;color:#ccc;}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide {width:33.33333%;height:100%;}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide1 {left:calc(33.33333%*1)}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide2 {left:calc(33.33333%*2)}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide3 {left:calc(33.33333%*3)}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide4 {left:calc(33.33333%*4)}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap {padding:0 10px;}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content {padding:18px 20px 29px 20px;}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content .slide-img-box {padding:36px 0 20px 0;}

    /* section4_arrow_btn */
    #wrap #main #section4 .wrap .gap .container .content .arrow-next {right:-15px;}
    #wrap #main #section4 .wrap .gap .container .content .arrow-prev {left:-15px;}

    /* section5 */
    #wrap #main #section5 .wrap .gap .container .title {padding-bottom:50px;}
    #wrap #main #section5 .wrap .gap .container .title h2 {font-size:30px;}
    #wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-con-txt {height:510px;}
    #wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-con-txt .txt-gap .txt-wrap {width:29.4117647%;padding:0 58px 26px;}/* 300px */
    #wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-timer-box .timer-gap {margin:30px 58px 0 58px;padding-bottom:60px;}

    /* section6 */
    #wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .back-face .back-gap .back-content h3 {font-size:25px;padding-bottom:30px;}
    #wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .back-face .back-gap .back-content p {font-size:13px;padding-bottom:20px;}
    #wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .back-face .back-gap .back-content h4 a > span {font-size:13px;}
    #wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .back-face .back-gap .back-content h4 a > span > i {position:absolute;top:5px;right:-10px;display:inline-block;width:6px;height:6px;border-top:2px solid #ad7b61;border-right:2px solid #ad7b61;transform:rotate(45deg);}

    /* section8_title */
    #wrap #main #section8 .wrap .gap .container .title {padding-bottom:50px;}
    #wrap #main #section8 .wrap .gap .container .title h3 {font-size:14px;}
    #wrap #main #section8 .wrap .gap .container .title h2 {font-size:30px;}
    /* section8_content */
    #wrap #main #section8 .wrap .gap .container .content .social-feed {width:100%;height:1230px;}
    /* feed마다 item 배치가다름 */
    #wrap #main #section8 .wrap .gap .container .content .feed1 .social-feed-list .social-feed-item {position:absolute;top:0;left:0;width:100%;}
    #wrap #main #section8 .wrap .gap .container .content .feed1 .social-feed-list .social-feed-item.item1 {top:0;left:0;height:40%;}
    #wrap #main #section8 .wrap .gap .container .content .feed1 .social-feed-list .social-feed-item.item2 {top:40%;left:0;height:20%;width:50%;}
    #wrap #main #section8 .wrap .gap .container .content .feed1 .social-feed-list .social-feed-item.item3 {top:40%;left:50%;height:20%;width:50%;}
    #wrap #main #section8 .wrap .gap .container .content .feed1 .social-feed-list .social-feed-item.item4 {top:60%;left:auto;right:0;height:40%;}

    #wrap #main #section8 .wrap .gap .container .content .feed2 .social-feed-list .social-feed-item {position:absolute;top:0;left:0;width:100%;}
    #wrap #main #section8 .wrap .gap .container .content .feed2 .social-feed-list .social-feed-item.item1 {top:0;left:0;height:20%;width:50%;}
    #wrap #main #section8 .wrap .gap .container .content .feed2 .social-feed-list .social-feed-item.item2 {top:0;left:50%;height:20%;width:50%;}
    #wrap #main #section8 .wrap .gap .container .content .feed2 .social-feed-list .social-feed-item.item3 {top:20%;left:0;height:60%;}
    #wrap #main #section8 .wrap .gap .container .content .feed2 .social-feed-list .social-feed-item.item4 {top:80%;left:auto;right:50%;height:20%;width:50%;}
    #wrap #main #section8 .wrap .gap .container .content .feed2 .social-feed-list .social-feed-item.item5 {top:80%;left:auto;right:0;height:20%;width:50%;}

    #wrap #main #section8 .wrap .gap .container .content .feed3 .social-feed-list .social-feed-item {position:absolute;top:0;left:0;width:100%;}
    #wrap #main #section8 .wrap .gap .container .content .feed3 .social-feed-list .social-feed-item.item1 {top:0;left:0;height:40%;}
    #wrap #main #section8 .wrap .gap .container .content .feed3 .social-feed-list .social-feed-item.item2 {top:40%;left:0;height:20%;width:50%;}
    #wrap #main #section8 .wrap .gap .container .content .feed3 .social-feed-list .social-feed-item.item3 {top:40%;left:50%;height:20%;width:50%;}
    #wrap #main #section8 .wrap .gap .container .content .feed3 .social-feed-list .social-feed-item.item4 {top:60%;left:auto;right:0;height:40%;}

    /* section8_item박스 갭조절, social박스 */
    #wrap #main #section8 .wrap .gap .container .content .social-feed .social-feed-list .social-feed-item .item-gap {padding:4px;width:100%;height:100%;box-sizing: border-box;}
    #wrap #main #section8 .wrap .gap .container .content .social-feed.feed1 .social-feed-list .social-feed-item.item1 .item-gap {padding-left:0;padding-right:0;}
    #wrap #main #section8 .wrap .gap .container .content .social-feed.feed1 .social-feed-list .social-feed-item.item2 .item-gap {padding-left:0;}
    #wrap #main #section8 .wrap .gap .container .content .social-feed.feed1 .social-feed-list .social-feed-item.item3 .item-gap {padding-right:0;}
    #wrap #main #section8 .wrap .gap .container .content .social-feed.feed1 .social-feed-list .social-feed-item.item4 .item-gap {padding-left:0;padding-right:0;}

    #wrap #main #section8 .wrap .gap .container .content .social-feed.feed2 .social-feed-list .social-feed-item.item1 .item-gap {padding-left:0;}
    #wrap #main #section8 .wrap .gap .container .content .social-feed.feed2 .social-feed-list .social-feed-item.item2 .item-gap {padding-left:4px;padding-right:0;}
    #wrap #main #section8 .wrap .gap .container .content .social-feed.feed2 .social-feed-list .social-feed-item.item3 .item-gap {padding-left:0;padding-right:0;}
    #wrap #main #section8 .wrap .gap .container .content .social-feed.feed2 .social-feed-list .social-feed-item.item4 .item-gap {padding-right:4px;padding-left:0;}
    #wrap #main #section8 .wrap .gap .container .content .social-feed.feed2 .social-feed-list .social-feed-item.item5 .item-gap {padding-right:0;}

    #wrap #main #section8 .wrap .gap .container .content .social-feed.feed3 .social-feed-list .social-feed-item.item1 .item-gap {padding-left:0;padding-right:0;}
    #wrap #main #section8 .wrap .gap .container .content .social-feed.feed3 .social-feed-list .social-feed-item.item2 .item-gap {padding-left:0;}
    #wrap #main #section8 .wrap .gap .container .content .social-feed.feed3 .social-feed-list .social-feed-item.item3 .item-gap {padding-right:0;}
    #wrap #main #section8 .wrap .gap .container .content .social-feed.feed3 .social-feed-list .social-feed-item.item4 .item-gap {padding-left:0;padding-right:0;}

    /* section9_title */
    #wrap #main #section9 .wrap .gap .container .title {padding-bottom:50px;}
    #wrap #main #section9 .wrap .gap .container .content ul .content-box .content-gap {padding:0 10px;}

    
}

@media all and (max-width:980px){
    /* section1 */
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide {background:url(../img/slide_0_mobile.jpg) no-repeat 50% 50%;background-size:cover;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide::before {z-index:5;position:absolute;content:'';right:0;bottom:0;top:auto;height:30%;width:100%;background-image: linear-gradient(to bottom, transparent, #111);}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide::after {z-index:5;position:absolute;content:'';left:0;top:0;height:40%;width:100%;background-image: linear-gradient(to top, transparent, #111);opacity:.85;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 {background-image:url(../img/slide_0_mobile.jpg);}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 {background-image:url(../img/slide_1_mobile.jpg);}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2 {background-image:url(../img/slide_2_mobile.jpg);}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide3 {background-image:url(../img/slide_3_mobile.jpg);}

    /* section1_slide_top_text */
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap {padding:56px 15px 20px 15px;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text {width:100%;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text h3 {font-size:16px;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text h2 {font-size:50px;line-height:120%;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text h4 {font-size:16px;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text h4 > strong {font-size:18px;}
    /* section1_slide_bottom_text */
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text p {font-size:17px;}

    /* section1_slide_bottom_btn */
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box {width:100%;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box .left-btn {width:100%;margin-bottom:10px;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box .left-btn .before {margin-bottom:10px;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box .right-btn {width:100%;}

    /* section1_slide_arrow */
    #wrap #main #section1 .wrap .gap .container .slide-container .arrow-next {z-index:3;position:absolute;top:auto;bottom:3%;margin-top:0;right:3%;width:15px;height:15px;border-top:2px solid #fff;border-right:2px solid #fff;transform:rotate(45deg);}
    #wrap #main #section1 .wrap .gap .container .slide-container .arrow-prev {z-index:3;position:absolute;top:auto;bottom:3%;margin-top:0;left:3%;width:15px;height:15px;border-top:2px solid #fff;border-left:2px solid #fff;transform:rotate(-45deg);}

    /* section2 */
    #wrap #main #section2 .wrap {padding:100px 0;}
    #wrap #main #section2 .wrap .gap .container .title h2 {font-size:50px;font-weight:600;}
    #wrap #main #section2 .wrap .gap .container .content .cube {width:250px;height:250px;}
    #wrap #main #section2 .wrap .gap .container .content .cube.addAuto {width:250px;height:250px;}
    #wrap #main #section2 .wrap .gap .container .content .cube .g80.front   {transform:rotateY(0deg)    translateZ(125px);}
    #wrap #main #section2 .wrap .gap .container .content .cube .g80.back    {transform:rotateY(180deg)  translateZ(125px);}
    #wrap #main #section2 .wrap .gap .container .content .cube .g80.side    {transform:rotateY(90deg)   translateZ(125px);}
    #wrap #main #section2 .wrap .gap .container .content .cube .g80.inside  {transform:rotateY(-90deg)  translateZ(125px);}
    #wrap #main #section2 .wrap .gap .container .content .cube .g80.inside2 {transform:rotateX(90deg)   translateZ(125px);}
    #wrap #main #section2 .wrap .gap .container .content .cube .g80.auto    {transform:rotateX(-90deg)  translateZ(125px);}

    /* section3_slide_arrow-btn */
    #wrap #main #section3 .wrap .gap .container .slide-container .arrow-next {margin-top:-10px;width:20px;height:20px;}
    #wrap #main #section3 .wrap .gap .container .slide-container .arrow-prev {margin-top:-10px;width:20px;height:20px;}

    /* section6 */
    #wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .front-face .img-wrap > img.pc-img {display:none;width:0;}
    #wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .front-face .img-wrap > img.mobile-img {display:block;width:100%;}


}

@media all and (max-width:780px){
    /* section2 */
    #wrap #main #section2 .wrap {padding:130px 0;}
    #wrap #main #section2 .wrap .gap .container .title.top-title {top:10%;}
    #wrap #main #section2 .wrap .gap .container .title.bottom-title {bottom:0;}
    #wrap #main #section2 .wrap .gap .container .content {position:relative;width:100%;text-align:center;padding:50px 0;}
    #wrap #main #section2 .wrap .gap .container .content .cube-btn-box {text-align:center;top:100%;right:0;width:100%;}
    #wrap #main #section2 .wrap .gap .container .content .cube-btn-box .cube-btn {display:inline-block;width:70px;padding-bottom:0;padding-right:10px;}
    #wrap #main #section2 .wrap .gap .container .content .cube-btn-box .cube-btn .cube-chk {display:inline-block;width:10px;height:10px;border-radius:50%;background:rgba(255,255,255,.6);margin-right:10px;}
    #wrap #main #section2 .wrap .gap .container .content .cube-btn-box .cube-btn.addCubeChk .cube-chk {background:transparent;border:3px solid #fff;}
    #wrap #main #section2 .wrap .gap .container .content .cube-btn-box .cube-btn .cube-txt {display:inline-block;color:#fff;font-size:15px;}

    /* section3 */
    #wrap #main #section3 {padding-bottom:100px;}

    /* section4 */
    #wrap #main #section4 {padding-bottom:100px;}
    #wrap #main #section4 .wrap .gap {padding:0/*  30px */;}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide {width:100%;}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide1 {left:calc(100%*1)}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide2 {left:calc(100%*2)}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide3 {left:calc(100%*3)}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide4 {left:calc(100%*4)}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap {padding:0 10px;}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content {padding:38px 30px 49px 30px;}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content .title span {font-size:14px;padding-bottom:10px;}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content .title strong {font-size:30px;}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content .slide-img-box {padding:44px 0 30px 0;}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content .slide-btn-box {height:56px;}/*  */
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content .slide-btn-box .active-btn {height:56px;line-height:56px;}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content .slide-btn-box .active-btn .before {font-size:16px;}
    #wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content .slide-btn-box .active-btn .after > span {font-size:16px;}

    /* section4_arrow_btn */
    #wrap #main #section4 .wrap .gap .container .content .arrow-next {right:-15px;}
    #wrap #main #section4 .wrap .gap .container .content .arrow-prev {left:-15px;}

    /* section5 */
    #wrap #main #section5 {width:100%;padding-bottom:100px;}
    #wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide img:nth-child(1){display:none;}
    #wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide img:nth-child(2) {display:block;width:100%;}

    #wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content {z-index:2;position:relative;top:0/* 100% */;left:0;width:100%;}
    #wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-con-txt {position:relative;/* max-width:760px;margin:0 auto; */width:100%;height:auto;}
    #wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-con-txt .txt-gap {margin:0;width:100%;height:100%;}
    #wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-con-txt .txt-gap .txt-wrap {position:relative;bottom:auto;left:0;width:100%;padding:0 30px;padding-top:100px;box-sizing: border-box;}
    #wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-con-txt .txt-gap .txt-wrap .txt-inner strong {font-size:30px;}
    #wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-con-txt .txt-gap .txt-wrap .txt-inner p {font-size:13px;line-height:200%;margin-top:13px;}

    #wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-timer-box {position:absolute;top:0;left:0;width:100%;overflow: hidden;}
    #wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-timer-box .timer-gap {margin:0;}
    #wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-timer-box .timer-gap .timer-wrap {position:relative;left:0;margin-left:30px;width:calc(71.7948718vw*4);}
    #wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-timer-box .timer-gap .timer-wrap .timer-swipe {float:left;width:71.7948718vw;}/* 560px */

    /* section6 */
    #wrap #main #section6 {padding-bottom:100px;}
    #wrap #main #section6 .wrap .gap .container ul li {float:none;width:100%;}
    #wrap #main #section6 .wrap .gap .container ul li:nth-of-type(1) .content-gap {margin:0;}
    #wrap #main #section6 .wrap .gap .container ul li:nth-of-type(2) .content-gap {margin:0;}
    #wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .front-face .img-wrap > img.pc-img {display:block;width:100%;}
    #wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .front-face .img-wrap > img.mobile-img {display:none;}

    /* section7 */
    #wrap #main #section7 {padding-bottom:100px;}

    /* section8 */
    #wrap #main #section8 {padding-bottom:100px;}
    /* section8_content */
    #wrap #main #section8 .wrap .gap .container .content .social-feed {width:100%;height:calc(760px*4);}
    /* feed마다 item 배치가다름 */
    #wrap #main #section8 .wrap .gap .container .content .feed1 .social-feed-list .social-feed-item {position:absolute;top:0;left:0;width:100%;}
    #wrap #main #section8 .wrap .gap .container .content .feed1 .social-feed-list .social-feed-item.item1 {top:0;left:0;height:25%;}
    #wrap #main #section8 .wrap .gap .container .content .feed1 .social-feed-list .social-feed-item.item2 {top:25%;left:0;height:25%;width:100%;}
    #wrap #main #section8 .wrap .gap .container .content .feed1 .social-feed-list .social-feed-item.item3 {top:50%;left:0;height:25%;width:100%;}
    #wrap #main #section8 .wrap .gap .container .content .feed1 .social-feed-list .social-feed-item.item4 {top:75%;left:auto;right:0;height:25%;}

    #wrap #main #section8 .wrap .gap .container .content .feed2 .social-feed-list .social-feed-item {position:absolute;top:0;left:0;width:100%;}
    #wrap #main #section8 .wrap .gap .container .content .feed2 .social-feed-list .social-feed-item.item1 {top:0;left:0;height:20%;width:100%;}
    #wrap #main #section8 .wrap .gap .container .content .feed2 .social-feed-list .social-feed-item.item2 {top:20%;left:0;height:20%;width:100%;}
    #wrap #main #section8 .wrap .gap .container .content .feed2 .social-feed-list .social-feed-item.item3 {top:40%;left:0;height:20%;}
    #wrap #main #section8 .wrap .gap .container .content .feed2 .social-feed-list .social-feed-item.item4 {top:60%;left:auto;right:0;height:20%;width:100%;}
    #wrap #main #section8 .wrap .gap .container .content .feed2 .social-feed-list .social-feed-item.item5 {top:80%;left:auto;right:0;height:20%;width:100%;}

    #wrap #main #section8 .wrap .gap .container .content .feed3 .social-feed-list .social-feed-item {position:absolute;top:0;left:0;width:100%;}
    #wrap #main #section8 .wrap .gap .container .content .feed3 .social-feed-list .social-feed-item.item1 {top:0;left:0;height:25%;}
    #wrap #main #section8 .wrap .gap .container .content .feed3 .social-feed-list .social-feed-item.item2 {top:25%;left:0;height:25%;width:100%;}
    #wrap #main #section8 .wrap .gap .container .content .feed3 .social-feed-list .social-feed-item.item3 {top:50%;left:0;height:25%;width:100%;}
    #wrap #main #section8 .wrap .gap .container .content .feed3 .social-feed-list .social-feed-item.item4 {top:75%;left:auto;right:0;height:25%;}

    /* section8_item박스 갭조절, social박스 */
    #wrap #main #section8 .wrap .gap .container .content .social-feed .social-feed-list .social-feed-item .item-gap {padding:4px;width:100%;height:100%;box-sizing: border-box;}
    #wrap #main #section8 .wrap .gap .container .content .social-feed.feed1 .social-feed-list .social-feed-item.item1 .item-gap {padding-left:0;padding-right:0;}
    #wrap #main #section8 .wrap .gap .container .content .social-feed.feed1 .social-feed-list .social-feed-item.item2 .item-gap {padding-left:0;padding-right:0;}
    #wrap #main #section8 .wrap .gap .container .content .social-feed.feed1 .social-feed-list .social-feed-item.item3 .item-gap {padding-right:0;padding-left:0;}
    #wrap #main #section8 .wrap .gap .container .content .social-feed.feed1 .social-feed-list .social-feed-item.item4 .item-gap {padding-left:0;padding-right:0;}

    #wrap #main #section8 .wrap .gap .container .content .social-feed.feed2 .social-feed-list .social-feed-item.item1 .item-gap {padding-left:0;padding-right:0;}
    #wrap #main #section8 .wrap .gap .container .content .social-feed.feed2 .social-feed-list .social-feed-item.item2 .item-gap {padding-left:0;padding-right:0;}
    #wrap #main #section8 .wrap .gap .container .content .social-feed.feed2 .social-feed-list .social-feed-item.item3 .item-gap {padding-left:0;padding-right:0;}
    #wrap #main #section8 .wrap .gap .container .content .social-feed.feed2 .social-feed-list .social-feed-item.item4 .item-gap {padding-right:0;padding-left:0;}
    #wrap #main #section8 .wrap .gap .container .content .social-feed.feed2 .social-feed-list .social-feed-item.item5 .item-gap {padding-right:0;padding-left:0;}

    #wrap #main #section8 .wrap .gap .container .content .social-feed.feed3 .social-feed-list .social-feed-item.item1 .item-gap {padding-left:0;padding-right:0;}
    #wrap #main #section8 .wrap .gap .container .content .social-feed.feed3 .social-feed-list .social-feed-item.item2 .item-gap {padding-left:0;padding-right:0;}
    #wrap #main #section8 .wrap .gap .container .content .social-feed.feed3 .social-feed-list .social-feed-item.item3 .item-gap {padding-right:0;padding-left:0;}
    #wrap #main #section8 .wrap .gap .container .content .social-feed.feed3 .social-feed-list .social-feed-item.item4 .item-gap {padding-left:0;padding-right:0;}

    #wrap #main #section8 .wrap .gap .container .content .social-feed .social-feed-list .social-feed-item .item-gap .social-link .item-img-box {height:80%;overflow:hidden;}

    /* 모든칸의 호버info배치는같음 */
    #wrap #main #section8 .wrap .gap .container .content .social-feed .social-feed-list .social-feed-item .item-gap .social-link .item-info {position:relative;z-index:1;display:block;width:100%;height:20%;}
    #wrap #main #section8 .wrap .gap .container .content .social-feed .social-feed-list .social-feed-item .item-gap .social-link .item-info .info-gap {padding:20px;}
    #wrap #main #section8 .wrap .gap .container .content .social-feed .social-feed-list .social-feed-item .item-gap .social-link .item-info .info-gap .info-wrap .sns-icon {display:none;}
    #wrap #main #section8 .wrap .gap .container .content .social-feed .social-feed-list .social-feed-item .item-gap .social-link .item-info .info-gap .info-wrap .info-txt {width:100%;padding-left:0;}
    #wrap #main #section8 .wrap .gap .container .content .social-feed .social-feed-list .social-feed-item .item-gap .social-link .item-info .info-gap .info-wrap .info-txt p {line-height:200%;padding-bottom:10px;}
    #wrap #main #section8 .wrap .gap .container .content .social-feed .social-feed-list .social-feed-item .item-gap .social-link .item-info .info-gap .info-wrap .info-txt .see-more > span {display:inline-block;font-size:12px;font-weight:500;}

    #wrap #main #section8 .wrap .gap .container .btn-box {width:100%;text-align:center;padding:40px 20px 0 20px;box-sizing: border-box;}
    #wrap #main #section8 .wrap .gap .container.addMoreActive2 .btn-box {display:none;}
    #wrap #main #section8 .wrap .gap .container .btn-box .more-btn {display:block;width:100%;}

    /* section9 */
    #wrap #main #section9 {padding:100px 0;}
    #wrap #main #section9 .wrap .gap {margin:0 20px;}
    #wrap #main #section9 .wrap .gap .container .title {padding-bottom:20px;}/* 50px */
    #wrap #main #section9 .wrap .gap .container .title h2 {font-size:25px;}
    #wrap #main #section9 .wrap .gap .container .content ul .content-box {float:none;width:100%;margin-top:9.230769231vw;}/* 72px */
    #wrap #main #section9 .wrap .gap .container .content ul .content-box:nth-child(1) {margin-top:0;}/* 72px */
    #wrap #main #section9 .wrap .gap .container .content ul .content-box .content-gap .content-wrap .bottom-box {margin-top:28px;}

}
@media all and (max-width:660px){
    #wrap #main #section8 .wrap .gap .container .content .social-feed .social-feed-list .social-feed-item .item-gap .social-link .item-img-box {height:60%;overflow:hidden;}

    /* 모든칸의 호버info배치는같음 */
    #wrap #main #section8 .wrap .gap .container .content .social-feed .social-feed-list .social-feed-item .item-gap .social-link .item-info {position:relative;z-index:1;display:block;width:100%;height:40%;}
    #wrap #main #section8 .wrap .gap .container .content .social-feed .social-feed-list .social-feed-item .item-gap .social-link .item-info .info-gap .info-wrap .info-txt p {font-size:12px;font-weight:500;line-height:140%;}
}
@media all and (max-width:570px){
    #wrap #main #section2 .wrap .gap .container .title h2 {font-size:40px;font-weight:600;}
    #wrap #main #section2 .wrap .gap .container .content .cube-btn-box {text-align:center;top:100%;right:0;width:100%;}
    #wrap #main #section2 .wrap .gap .container .content .cube-btn-box .cube-btn {display:inline-block;width:50px;padding-bottom:0;padding-right:5px;}
    #wrap #main #section2 .wrap .gap .container .content .cube-btn-box .cube-btn .cube-chk {display:inline-block;width:10px;height:10px;border-radius:50%;background:rgba(255,255,255,.6);margin-right:5px;}
    #wrap #main #section2 .wrap .gap .container .content .cube-btn-box .cube-btn.addCubeChk .cube-chk {background:transparent;border:3px solid #fff;}
    #wrap #main #section2 .wrap .gap .container .content .cube-btn-box .cube-btn .cube-txt {display:inline-block;color:#fff;font-size:15px;}
}
@media all and (max-width:410px){
    /* section1_slide_top_text */
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text h3 {font-size:14px;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text h2 {font-size:40px;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text h4 {font-size:14px;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 .slide-gap .slide-content .text-gap .text-wrap .top-text h4 {width:70%;font-size:14px;line-height:130%;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text h4 > strong {font-size:16px;}
    /* section1_slide_bottom_text */
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text p {font-size:15px;}

    #wrap #main #section2 .wrap .gap .container .content .cube-btn-box .cube-btn.addCubeChk .cube-chk {background:#fff;border:0;}


    /* section6 */
    #wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .back-face .back-gap .back-content h3 {font-size:20px;padding-bottom:20px;}
    #wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .back-face .back-gap .back-content p {width:100%;font-size:13px;padding-bottom:20px;}
    #wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .back-face .back-gap .back-content h4 a > span {font-size:13px;}
    #wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .back-face .back-gap .back-content h4 a > span > i {position:absolute;top:5px;right:-10px;display:inline-block;width:6px;height:6px;border-top:2px solid #ad7b61;border-right:2px solid #ad7b61;transform:rotate(45deg);}
}

@media all and (max-width:350px){
    /* section6 */
    #wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .back-face .back-gap {padding:20px 15px;}
    #wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .back-face .back-gap .back-content h3 {font-size:18px;padding-bottom:15px;}
    #wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .back-face .back-gap .back-content p {width:100%;font-size:12px;line-height:160%;padding-bottom:15px;}
}