@charset "UTF-8";
/* 바로가기 */
#skip {z-index:2;position:fixed;top:0;left:0;width:100%;}
#skip li {width:100%;}
#skip li a {display:block;line-height:0;font-size:0;color:#fff;background:#000;text-align:center;}
#skip li a:focus {line-height:50px;font-size:18px;}


#wrap {z-index:1;position:relative;font-family: 'Montserrat', sans-serif;width:100%;}
/* header */
#wrap #header {z-index:3;position:fixed;top:0;left:0;width:100%;height:70px;background:#232323;overflow:hidden;}
#wrap #header .wrap {width:100%;}
#wrap #header .wrap .gap {margin:0 120px;}
#wrap #header .wrap .gap .container {width:100%;text-align:center;}

/* header_logo */
#wrap #header .wrap .gap .container #logo {float:left;width:112px;/* height:36px; */padding-top:26px;}
#wrap #header .wrap .gap .container #logo a {display:inline-block;}
#wrap #header .wrap .gap .container #logo a > img {width:100%;}

/* header_nav */
#wrap #header .wrap .gap .container #nav {float:left;margin-left:40px;}
#wrap #header .wrap .gap .container #nav > ul {width:100%;}
#wrap #header .wrap .gap .container #nav > ul > li {display:inline-block;margin:0 20px;}
#wrap #header .wrap .gap .container #nav > ul > li .main-btn {display:block;width:100%;color:#fff;font-size:15px;font-weight:500;line-height:70px;transition:all .6s;}
#wrap #header .wrap .gap .container #nav > ul > li .main-btn:hover {color:#ad7b61;}

/* header_aside */
#wrap #header .wrap .gap .container #aside {float:right;}
#wrap #header .wrap .gap .container #aside > ul {width:100%;}
#wrap #header .wrap .gap .container #aside > ul > li {float:left;padding-left:20px;height:100%;}
/* header_aside_contact */
#wrap #header .wrap .gap .container #aside > ul > li.contact > div {display:inline-block;}
#wrap #header .wrap .gap .container #aside > ul > li.contact > div > div {padding:0 10px;}
#wrap #header .wrap .gap .container #aside > ul > li.contact > div > div .full {display:block;width:100%;color:#fff;font-size:15px;font-weight:500;line-height:70px;transition:all .6s;}
#wrap #header .wrap .gap .container #aside > ul > li.contact > div > div .full:hover {color:#ad7b61;}
#wrap #header .wrap .gap .container #aside > ul > li.contact > div > div .media {display:none;width:100%;color:#fff;line-height:70px;transition:all .6s;}
#wrap #header .wrap .gap .container #aside > ul > li.contact > div > div .media > img {width:17px;height:17px;}
/* header_aside_seach */
#wrap #header .wrap .gap .container #aside > ul > li.search a {display:block;font-size:15px;line-height:70px;color:#fff;transition:all .6s;}
#wrap #header .wrap .gap .container #aside > ul > li.search a i {width:100%;}
#wrap #header .wrap .gap .container #aside > ul > li.search a:hover {color:#ad7b61;}
/* header_aside_menu-plus */
#wrap #header .wrap .gap .container #aside > ul > li.meun-plus .aside-btn {display:block;width:70px;height:70px;}
#wrap #header .wrap .gap .container #aside > ul > li.meun-plus .aside-btn .ham-gap {display:block;padding:25px;height:100%;box-sizing:border-box;border:0;}
#wrap #header .wrap .gap .container #aside > ul > li.meun-plus .aside-btn .ham-gap.addActive {border:1px solid #fff;}
#wrap #header .wrap .gap .container #aside > ul > li.meun-plus .aside-btn .ham-gap span {position:relative;display:block;width:100%;height:100%;}
#wrap #header .wrap .gap .container #aside > ul > li.meun-plus .aside-btn .ham-gap span .bar {position:absolute;display:block;width:100%;height:2px;background:#fff;transition:all .6s;}
#wrap #header .wrap .gap .container #aside > ul > li.meun-plus .aside-btn .ham-gap span .bar0 {top:0;left:0;margin-top:0;transform:rotate(0deg);}
#wrap #header .wrap .gap .container #aside > ul > li.meun-plus .aside-btn .ham-gap span .bar0.addActive {top:50%;left:0;margin-top:-1px;transform:rotate(135deg);animation:ani1 .6s;}
@keyframes ani1 {
    0%{top:0;left:0;margin-top:0;transform:rotate(0deg);}
    100%{top:50%;left:0;margin-top:-1px;transform:rotate(135deg);}
}
#wrap #header .wrap .gap .container #aside > ul > li.meun-plus .aside-btn .ham-gap span .bar1 {top:50%;left:0;margin-top:-1px;width:100%;opacity:1;}
#wrap #header .wrap .gap .container #aside > ul > li.meun-plus .aside-btn .ham-gap span .bar1.addActive {width:0;opacity:0;animation:ani2 .6s;}
@keyframes ani2{
    0%{top:50%;left:0;margin-top:-1px;width:100%;opacity:1;}
    50%{opacity:0;}
    100%{width:0;opacity:0;}
}
#wrap #header .wrap .gap .container #aside > ul > li.meun-plus .aside-btn .ham-gap span .bar2 {bottom:0;margin-bottom:0;left:0;transform:rotate(0deg);}
#wrap #header .wrap .gap .container #aside > ul > li.meun-plus .aside-btn .ham-gap span .bar2.addActive {bottom:50%;margin-bottom:-1px;left:0;transform:rotate(-135deg);animation:ani3 .6s;}
@keyframes ani3{
    0%{bottom:0;margin-bottom:0;left:0;transform:rotate(0deg)}
    100%{bottom:50%;margin-bottom:-1px;left:0;transform:rotate(-135deg);}
}

/* main */
#wrap #main {z-index:2;position:relative;/* top:70px;width:100%;height:auto; */}

/* section1 */
#wrap #main #section1 {position:relative;padding-top:70px;width:100%;height:900px;}/* section2타이트과 연관 */
#wrap #main #section1 .wrap {width:100%;height:100%;}
#wrap #main #section1 .wrap .gap {width:100%;height:100%;}
#wrap #main #section1 .wrap .gap .container {width:100%;height:100%;}
/* section1_slide box */
#wrap #main #section1 .wrap .gap .container .slide-container {position:relative;width:100%;height:100%;background:#111;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view {z-index:1;position:relative;width:100%;height:100%;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap {position:relative;display:block;width:100%;height:100%;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide {z-index:1;position:absolute;width:100%;height:100%;top:0;left:0;background:url(../img/slide_0.jpg) no-repeat 50% 50%;background-size:135% auto;/* min-width:768px; */}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide::before {z-index:5;position:absolute;content:'';right:0;bottom:0;top:auto;height:30%;width:100%;background-image: linear-gradient(to bottom, transparent, #111);}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide::after {z-index:5;position:absolute;content:'';left:0;top:0;height:100%;width:50%;background-image: linear-gradient(to left, transparent, #111);opacity:.35;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 {z-index:4;background-image:url(../img/slide_0.jpg);}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 {z-index:3;background-image:url(../img/slide_1.jpg);}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2 {z-index:2;background-image:url(../img/slide_2.jpg);}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide3 {z-index:1;background-image:url(../img/slide_3.jpg);}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap {padding:0 80px 120px 80px ;width:100%;height:100%;box-sizing: border-box;}/*0 4.2038886% 6.3058329% 4.2038886% 70px(얘는헤더땜에 고정값,모바일에서바꿔줌) 80px 120px 80px */
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content {z-index:6;position:relative;width:100%;height:100%;border:1px solid #ad7b61;border-top:0;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap {padding:56px 50px;width:100%;height:100%;box-sizing: border-box;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap {position:relative;width:100%;height:100%;}
/* section1_slide_top_text */
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text {width:50%;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text h3 {font-size:22px;color:#fff;font-weight:500;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text h2 {font-size:95px;color:#fff;font-weight:300;letter-spacing: -5px;line-height:90%;margin:20px 0 25px 0;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text h4 {font-size:22px;color:#fff;font-weight:500;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .top-text h4 > strong {font-size:24px;color:#fff;font-weight:500;line-height:200%;}
/* section1_slide_bottom_text */
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text {position:absolute;bottom:0;width:100%;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text p {padding-bottom:30px;font-size:20px;color:#fff;font-weight:300;}
/* section1_slide_bottom_btn */
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box {width:100%;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box .left-btn {position:relative;display:inline-block;width:240px;height:52px;text-align:center;border:1px solid #fff;margin-right:20px;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box .left-btn .before {z-index:2;position:relative;display:inline-block;width:100%;color:#000;font-size:16px;line-height:52px;background:#fff;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box .left-btn .after {z-index:1;position:absolute;bottom:0;left:0;background:#000;color:#fff;overflow:hidden;width:100%;height:0;transition:all .6s;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box .left-btn.addBgActive .after {z-index:3;height:100%;animation:bgcol1 .6s}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box .left-btn .after > span {position:absolute;font-size:16px;bottom:0;left:0;line-height:52px;width:100%;}
@keyframes bgcol1 {
    0%{z-index:1;height:0;}
    100%{z-index:3;height:100%;}
}

#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box .right-btn {position:relative;display:inline-block;width:240px;height:52px;text-align:center;border:1px solid #fff;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box .right-btn > span.before {z-index:2;position:relative;display:inline-block;width:100%;color:#fff;font-size:16px;line-height:52px;background:#000;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box .right-btn > span.after {z-index:1;position:absolute;bottom:0;left:0;background:#fff;color:#000;overflow:hidden;width:100%;height:0;transition:all .6s;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box .right-btn.addBgActive > span.after {z-index:3;height:100%;animation:bgcol2 .6s}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .text-gap .text-wrap .bottom-text .btn-box .right-btn > span.after > span {position:absolute;font-size:16px;bottom:0;left:0;line-height:52px;width:100%;}
@keyframes bgcol2 {
    0%{height:0;z-index:1;}
    100%{height:100%;z-index:3;}
}

/* section1_slide_arrow */
#wrap #main #section1 .wrap .gap .container .slide-container .arrow-next {z-index:2;position:absolute;top:50%;margin-top:-15px;right:2%;width:30px;height:30px;border-top:2px solid #fff;border-right:2px solid #fff;transform:rotate(45deg);}
#wrap #main #section1 .wrap .gap .container .slide-container .arrow-next .next-btn {display:block;width:100%;height:100%;}
#wrap #main #section1 .wrap .gap .container .slide-container .arrow-prev {z-index:2;position:absolute;top:50%;margin-top:-15px;left:2%;width:30px;height:30px;border-top:2px solid #fff;border-left:2px solid #fff;transform:rotate(-45deg);}
#wrap #main #section1 .wrap .gap .container .slide-container .arrow-prev .prev-btn {display:block;width:100%;height:100%;}

/* section1_slide_pagenation */
#wrap #main #section1 .wrap .gap .container .slide-container .pagenation-box {z-index:2;position:absolute;bottom:7%;left:0;width:100%;text-align:center;}
#wrap #main #section1 .wrap .gap .container .slide-container .pagenation-box li {display:inline-block;width:15px;height:15px;padding:0 5px;}
#wrap #main #section1 .wrap .gap .container .slide-container .pagenation-box li .page-btn {display:inline-block;width:100%;height:100%;text-align:center;line-height:15px;}
#wrap #main #section1 .wrap .gap .container .slide-container .pagenation-box li .page-btn > span {display:inline-block;width:8px;height:8px;background:rgba(255,255,255,.6);border-radius: 50%;}
#wrap #main #section1 .wrap .gap .container .slide-container .pagenation-box li .page-btn.addPauseActive > span {background:transparent;border:3px solid #fff;border-radius: 50%;}

#wrap #main #section1 .wrap .gap .container .slide-container .pagenation-box li .btn-wrap {position:relative;width:100%;height:100%;line-height:15px;margin-left:4px;}
#wrap #main #section1 .wrap .gap .container .slide-container .pagenation-box li .btn-wrap .pause-btn {z-index:2;position:relative;display:inline-block;width:100%;height:100%;text-align:center;}
#wrap #main #section1 .wrap .gap .container .slide-container .pagenation-box li .btn-wrap .pause-btn span {display:inline-block;width:3px;height:12px;background:rgba(255,255,255,1);margin-right:2px;border-radius:0;}

#wrap #main #section1 .wrap .gap .container .slide-container .pagenation-box li .btn-wrap .play-btn {z-index:1;display:none;position:absolute;top:0;left:0;width:15px;height:15px;text-align:center;line-height:15px;}
#wrap #main #section1 .wrap .gap .container .slide-container .pagenation-box li .btn-wrap .play-btn span {display:inline-block;border-left:10px solid #fff;border-right:8px solid transparent;border-bottom:8px solid transparent;border-top:8px solid transparent;}

#wrap #main #section1 .wrap .gap .container .slide-container .pagenation-box li .btn-wrap.addPauseActive .pause-btn {z-index:1;display:none;}
#wrap #main #section1 .wrap .gap .container .slide-container .pagenation-box li .btn-wrap.addPauseActive .play-btn {z-index:2;display:inline-block;}

/* section2 */
#wrap #main #section2 {position:relative;width:100%;/* padding:150px 0; */background:#111;overflow: hidden;box-sizing: border-box;}
#wrap #main #section2 .wrap {/* position:relative; */width:100%;padding:130px 0;}
#wrap #main #section2 .wrap .gap {margin:0;}
#wrap #main #section2 .wrap .gap .container {width:100%;}
#wrap #main #section2 .wrap .gap .container .title.top-title {position:absolute;top:0;left:0;white-space: nowrap;}
#wrap #main #section2 .wrap .gap .container .title.bottom-title {position:absolute;bottom:0;right:0;white-space: nowrap;}
/* #wrap #main #section2 .wrap .gap .container .title h3 {font-size:30px;font-weight:300;color:rgba(255,255,255,.8);padding-bottom:15px;} */
#wrap #main #section2 .wrap .gap .container .title h2 {font-size:100px;font-weight:600;color:rgba(255,255,255,.8);text-shadow:2px 2px 2px #ad7b61;}

#wrap #main #section2 .wrap .gap .container .content {position:relative;width:100%;text-align:center;padding:50px 0;}
#wrap #main #section2 .wrap .gap .container .content .cube-btn-box {position:absolute;top:30%;right:100px;width:80px;}
#wrap #main #section2 .wrap .gap .container .content .cube-btn-box .cube-btn {display:inline-block;width:100%;padding-bottom:20px;}
#wrap #main #section2 .wrap .gap .container .content .cube-btn-box .cube-btn .cube-chk {display:inline-block;width:10px;height:10px;border-radius:50%;background:rgba(255,255,255,.6);margin-right:10px;}
#wrap #main #section2 .wrap .gap .container .content .cube-btn-box .cube-btn.addCubeChk .cube-chk {background:transparent;border:3px solid #fff;}
#wrap #main #section2 .wrap .gap .container .content .cube-btn-box .cube-btn .cube-txt {display:inline-block;color:#fff;font-size:15px;}

/* #wrap #main #section2 .wrap .gap .container .content input[type="radio"] {cursor:pointer;width:10px;height:10px;border-radius:50%;appearance:none;outline:0;background:rgba(255,255,255,.6);}
#wrap #main #section2 .wrap .gap .container .content input[type="radio"]:checked {background:transparent;border:3px solid #fff;}
#wrap #main #section2 .wrap .gap .container .content label {cursor:pointer;color:#fff;} */

#wrap #main #section2 .wrap .gap .container .content .cube {position:relative;width:350px;height:350px;margin:100px auto;transform-style: preserve-3d;transform:perspective(1000px) rotate3d(0,0,0,0deg);transition:all 1s;}
#wrap #main #section2 .wrap .gap .container .content .cube.addAuto {position:relative;width:350px;height:350px;margin:100px auto;transform-style: preserve-3d;transform:perspective(1000px) rotate3d(0,1,1,360deg);animation:cube 3s infinite linear;}
@keyframes cube {
    0%  {transform:perspective(1000px) rotate3d(0,1,1,0deg);}
    25% {transform:perspective(1000px) rotate3d(0,1,1,90deg);}
    50% {transform:perspective(1000px) rotate3d(0,1,1,180deg);}
    75% {transform:perspective(1000px) rotate3d(0,1,1,270deg);}
    100%{transform:perspective(1000px) rotate3d(0,1,1,360deg);}
    /* 100%{transform:perspective(800px) rotate3d(1,1,0,360deg);} */
}

#wrap #main #section2 .wrap .gap .container .content .cube .g80 {position:absolute;width:100%;height:100%;background:url(../img/cube_g80_01_1920x960-ko.jpg) no-repeat 50% 50%;background-size:cover;opacity:.5;}
#wrap #main #section2 .wrap .gap .container .content .cube .g80.front   {background-image:url(../img/cube_g80_01_1920x960-ko.jpg);transform:rotateY(0deg) translateZ(175px);}
#wrap #main #section2 .wrap .gap .container .content .cube .g80.back    {background-image:url(../img/cube_g80_02_1220xflexible-ko.jpg);transform:rotateY(180deg) translateZ(175px);}
#wrap #main #section2 .wrap .gap .container .content .cube .g80.side    {background-image:url(../img/cube_g80_03_1220xflexible-ko.jpg);transform:rotateY(90deg) translateZ(175px);}
#wrap #main #section2 .wrap .gap .container .content .cube .g80.inside  {background-image:url(../img/cube_g80_04_1920x960-ko.jpg);transform:rotateY(-90deg) translateZ(175px);}
#wrap #main #section2 .wrap .gap .container .content .cube .g80.inside2 {background-image:url(../img/cube_g80_05_1220x6-ko.jpg);transform:rotateX(90deg) translateZ(175px);}
#wrap #main #section2 .wrap .gap .container .content .cube .g80.auto    {background-image:url(../img/cube_g80_06_1220.jpg);transform:rotateX(-90deg) translateZ(175px);}

/* #wrap #main #section2 .wrap .gap .container .content #front:checked   ~ .cube  {transform:perspective(800px) rotate3d(0,0,0,0deg);}
#wrap #main #section2 .wrap .gap .container .content #back:checked    ~ .cube  {transform:perspective(800px) rotate3d(0,1,0,-180deg);}
#wrap #main #section2 .wrap .gap .container .content #side:checked    ~ .cube  {transform:perspective(800px) rotate3d(0,1,0,-90deg);}
#wrap #main #section2 .wrap .gap .container .content #inside:checked  ~ .cube  {transform:perspective(800px) rotate3d(0,1,0,90deg);}
#wrap #main #section2 .wrap .gap .container .content #inside2:checked ~ .cube  {transform:perspective(800px) rotate3d(1,0,0,-90deg);}
#wrap #main #section2 .wrap .gap .container .content #auto:checked    ~ .cube  {transform:perspective(800px) rotate3d(1,0,0,90deg);} */


/* section3 */
#wrap #main #section3 {width:100%;height:100%;}
#wrap #main #section3 .wrap {width:100%;height:100%;}
#wrap #main #section3 .wrap .gap {width:100%;height:100%;}
#wrap #main #section3 .wrap .gap .container {width:100%;height:100%;}
/* section3_slide */
#wrap #main #section3 .wrap .gap .container .slide-container {position:relative;width:100%;height:100%;}
#wrap #main #section3 .wrap .gap .container .slide-container .slide-view {z-index:1;position:relative;width:100%;height:100%;overflow:hidden;}
#wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap {position:relative;width:100%;height:100%;}
#wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide {z-index:1;position:absolute;top:0;left:0;width:100%;height:100%;}
#wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 {position:relative;z-index:5;}
#wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 {z-index:4;}
#wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2 {z-index:3;}
#wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide3 {z-index:2;}
#wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide4 {z-index:1;}

#wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide::before {z-index:6;content:'';position:absolute;display:block;top:0;left:0;width:100%;height:20%;background-image: linear-gradient(to bottom, #111, transparent);opacity:.35;}
#wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide::after {z-index:6;content:'';position:absolute;display:block;top:0;left:0;width:50%;height:100%;background-image: linear-gradient(to right, #111, transparent);opacity:.35;}

/* section3_slide_img_change */

#wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 .slide-img-wrap {z-index:1;position:relative;width:100%;height:100%;}
#wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 .slide-img-wrap .col {position:absolute;width:50%;height:100%;background:url(../img/1.jpg) no-repeat 0 0 fixed;background-size:cover;}
#wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 .slide-img-wrap .col0 {top:0;left:calc(50%*0);}
#wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 .slide-img-wrap .col1 {bottom:0;left:calc(50%*1);}

#wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 .slide-img-wrap {z-index:1;position:relative;width:100%;height:100%;}
#wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 .slide-img-wrap .col {position:absolute;width:50%;height:100%;background:url(../img/2.jpg) no-repeat 0 0 fixed;background-size:cover;}
#wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 .slide-img-wrap .col0 {top:0;left:calc(50%*0);}
#wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 .slide-img-wrap .col1 {bottom:0;left:calc(50%*1);}

#wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2 .slide-img-wrap {z-index:1;position:relative;width:100%;height:100%;}
#wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2 .slide-img-wrap .col {position:absolute;width:50%;height:100%;background:url(../img/3.jpg) no-repeat 0 0 fixed;background-size:cover;}
#wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2 .slide-img-wrap .col0 {top:0;left:calc(50%*0);}
#wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2 .slide-img-wrap .col1 {bottom:0;left:calc(50%*1);}

#wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide3 .slide-img-wrap {z-index:1;position:relative;width:100%;height:100%;}
#wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide3 .slide-img-wrap .col {position:absolute;width:50%;height:100%;background:url(../img/4.jpg) no-repeat 0 0 fixed;background-size:cover;}
#wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide3 .slide-img-wrap .col0 {top:0;left:calc(50%*0);}
#wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide3 .slide-img-wrap .col1 {bottom:0;left:calc(50%*1);}

#wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide4 .slide-img-wrap {z-index:1;position:relative;width:100%;height:100%;}
#wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide4 .slide-img-wrap .col {position:absolute;width:50%;height:100%;background:url(../img/5.jpg) no-repeat 0 0 fixed;background-size:cover;}
#wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide4 .slide-img-wrap .col0 {top:0;left:calc(50%*0);}
#wrap #main #section3 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide4 .slide-img-wrap .col1 {bottom:0;left:calc(50%*1);}

/* section3_slide_arrow-btn */
#wrap #main #section3 .wrap .gap .container .slide-container .arrow-next {z-index:2;position:absolute;top:50%;margin-top:-15px;right:2%;width:30px;height:30px;border-top:2px solid #fff;border-right:2px solid #fff;transform:rotate(45deg);}
#wrap #main #section3 .wrap .gap .container .slide-container .arrow-next .next-btn {display:block;width:100%;height:100%;}
#wrap #main #section3 .wrap .gap .container .slide-container .arrow-prev {z-index:2;position:absolute;top:50%;margin-top:-15px;left:2%;width:30px;height:30px;border-top:2px solid #fff;border-left:2px solid #fff;transform:rotate(-45deg);}
#wrap #main #section3 .wrap .gap .container .slide-container .arrow-prev .prev-btn {display:block;width:100%;height:100%;}

/* section3_slide_pagenation-btn */
#wrap #main #section3 .wrap .gap .container .slide-container .pagenation-box {z-index:2;position:absolute;bottom:7%;left:0;width:100%;text-align:center;}
#wrap #main #section3 .wrap .gap .container .slide-container .pagenation-box li {display:inline-block;padding:0 5px;width:15px;height:15px;}
#wrap #main #section3 .wrap .gap .container .slide-container .pagenation-box li .page-btn {display:inline-block;width:100%;height:100%;text-align:center;line-height:15px;}
#wrap #main #section3 .wrap .gap .container .slide-container .pagenation-box li .page-btn > span {display:inline-block;width:8px;height:8px;background:rgba(255,255,255,.6);border-radius: 50%;}
#wrap #main #section3 .wrap .gap .container .slide-container .pagenation-box li .page-btn.addPauseActive > span {background:transparent;border:3px solid #fff;border-radius: 50%;}

/* section3_slide_play/stop-btn */
#wrap #main #section3 .wrap .gap .container .slide-container .pagenation-box li .btn-wrap {position:relative;width:100%;height:100%;line-height:15px;margin-left:4px;}
#wrap #main #section3 .wrap .gap .container .slide-container .pagenation-box li .btn-wrap .pause-btn {z-index:2;position:relative;display:inline-block;width:100%;height:100%;text-align:center;}
#wrap #main #section3 .wrap .gap .container .slide-container .pagenation-box li .btn-wrap .pause-btn span {display:inline-block;width:3px;height:12px;background:rgba(255,255,255,1);margin-right:2px;border-radius:0;}
#wrap #main #section3 .wrap .gap .container .slide-container .pagenation-box li .btn-wrap .play-btn {z-index:1;display:none;position:absolute;top:0;left:0;width:15px;height:15px;text-align:center;line-height:15px;}
#wrap #main #section3 .wrap .gap .container .slide-container .pagenation-box li .btn-wrap .play-btn span {display:inline-block;border-left:10px solid #fff;border-right:8px solid transparent;border-bottom:8px solid transparent;border-top:8px solid transparent;}

#wrap #main #section3 .wrap .gap .container .slide-container .pagenation-box li .btn-wrap.addPauseActive .pause-btn {z-index:1;display:none;}
#wrap #main #section3 .wrap .gap .container .slide-container .pagenation-box li .btn-wrap.addPauseActive .play-btn {z-index:2;display:block;}

/* section3_slide_sns-move-btn */
/* #wrap #main #section3 .wrap .gap .container .slide-container .sns-btn-wrap {} */
#wrap #main #section3 .wrap .gap .container .slide-container .sns-btn-wrap .sns-bg {z-index:1;position:absolute;bottom:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0);visibility: hidden;transition:all .6s;}
#wrap #main #section3 .wrap .gap .container .slide-container .sns-btn-wrap.addSnsActive .sns-bg {z-index:2;background:rgba(0,0,0,.7);visibility: visible;}
/* #wrap #main #section3 .wrap .gap .container .slide-container .sns-btn-wrap .sns-btn-container {} */
#wrap #main #section3 .wrap .gap .container .slide-container .sns-btn-wrap .sns-btn-container .active-btn {z-index:2;position:absolute;bottom:6%;right:2%;width:40px;height:40px;background:#111;border-radius:50%;text-align:center;opacity:1;transition:all .6s;}
#wrap #main #section3 .wrap .gap .container .slide-container .sns-btn-wrap.addSnsActive .sns-btn-container .active-btn {z-index:1;opacity:0;}
#wrap #main #section3 .wrap .gap .container .slide-container .sns-btn-wrap .sns-btn-container .active-btn i {color:#fff;line-height:42px;}
#wrap #main #section3 .wrap .gap .container .slide-container .sns-btn-wrap .sns-btn-container .close-btn {z-index:1;position:absolute;bottom:6%;right:2%;width:40px;height:40px;background:#111;border-radius:50%;text-align:center;opacity:0;transition:all .6s;}
#wrap #main #section3 .wrap .gap .container .slide-container .sns-btn-wrap.addSnsActive .sns-btn-container .close-btn {z-index:2;opacity:1;}
#wrap #main #section3 .wrap .gap .container .slide-container .sns-btn-wrap .sns-btn-container .close-btn i {color:#fff;line-height:42px;}
#wrap #main #section3 .wrap .gap .container .slide-container .sns-btn-wrap .sns-btn-container .sns-active {z-index:1;position:absolute;bottom:12%;right:2%;width:40px;border-radius:20px;background:#fff;text-align:center;opacity:0;display:none;transition:all .6s;}
#wrap #main #section3 .wrap .gap .container .slide-container .sns-btn-wrap.addSnsActive .sns-btn-container .sns-active {z-index:2;display:block;opacity:1;}
#wrap #main #section3 .wrap .gap .container .slide-container .sns-btn-wrap .sns-btn-container .sns-active ul {width:100%;padding:15px 0;}
#wrap #main #section3 .wrap .gap .container .slide-container .sns-btn-wrap .sns-btn-container .sns-active ul li {display:block;padding:8px 0;}
#wrap #main #section3 .wrap .gap .container .slide-container .sns-btn-wrap .sns-btn-container .sns-active ul li a {display:block;width:100%;}
#wrap #main #section3 .wrap .gap .container .slide-container .sns-btn-wrap .sns-btn-container .sns-active ul li a i {color:#111;font-size:16px;}


/* section4 */
#wrap #main #section4 {width:100%;padding:130px 0;}
#wrap #main #section4 .wrap {width:100%;}
#wrap #main #section4 .wrap .gap {padding:0 6.3058329%;}/* 120px */
#wrap #main #section4 .wrap .gap .container {width:100%;}
#wrap #main #section4 .wrap .gap .container > .title {width:100%;text-align:center;padding-bottom:90px;}
#wrap #main #section4 .wrap .gap .container > .title h2 {font-size:40px;font-weight:400;letter-spacing:-1px;text-transform: uppercase;padding-bottom:30px;}
#wrap #main #section4 .wrap .gap .container > .title h3 {font-size:16px;color:#ccc;}
/* section4_product_slide */
#wrap #main #section4 .wrap .gap .container .content {position:relative;width:100%;}
#wrap #main #section4 .wrap .gap .container .content .content-gap {width:100%;}
#wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap {position:relative;width:100%;overflow: hidden;}
#wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap {position:relative;left:0;width:100%;}
#wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide {position:absolute;display:block;top:0;left:0;width:25%;height:100%;}/* 415.75, 21.8470836% */ 
#wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide0 {position:relative;left:0;}
#wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide1 {left:calc(25%*1);}
#wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide2 {left:calc(25%*2);}
#wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide3 {left:calc(25%*3);}
#wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide4 {left:calc(25%*4);}
#wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap {padding:0 20px;}
#wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content {width:100%;/* height:403px; */padding: 9.7509553% 10.5415733% 12.9134273% 10.5415733%;box-sizing: border-box;background:#151515;border:0 solid rgba(255,255,255,0);transition:all .4s;}/* 37px 40px 49px 40px 9.7509553% 10.5415733% 12.9134273% 10.5415733% */
#wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content.addMouseActive {background:rgba(255,255,255,0.03);border:1px solid rgba(255,255,255,.1);}/* rgba(255,255,255,0.03) */
#wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content .title {text-align:left;color:#fff;transition:all .4s;}
#wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content.addMouseActive .title {color:#ad7b61;}
#wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content .title span {display:block;color:#999;font-size:16px;padding-bottom:10px;transition:all .4s;}/* 3.3619096% */
#wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content.addMouseActive .title span {color:#ad7b61;}
#wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content .title strong {display:block;font-size:30px;font-weight:400;}
#wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content .slide-img-box {width:100%;padding:43px 0 56px 0;}/* 14.4562111% 0 18.8266936% 0 */
#wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content .slide-img-box img {width:100%;}
#wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content .slide-btn-box {display:block;width:100%;height:56px;}
#wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content .slide-btn-box .active-btn {position:relative;display:block;width:100%;height:56px;border:1px solid #fff;line-height:56px;text-align:center;transition:all .4s;}
#wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content.addMouseActive .slide-btn-box .active-btn {margin-top:-10px;}
#wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content .slide-btn-box .active-btn .before {z-index:2;position:relative;display:block;width:100%;color:#fff;font-size:16px;/* line-height:56px; */background:#111;}
#wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content .slide-btn-box .active-btn .after {z-index:1;position:absolute;bottom:0;left:0;width:100%;height:0;color:#111;background:#fff;overflow:hidden;transition:all .6s;}
#wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content .slide-btn-box .active-btn.addBtnActive .after {z-index:3;height:100%;animation:slideBtn .6s;}
#wrap #main #section4 .wrap .gap .container .content .content-gap .cotent-wrap .slide-wrap .slide .slide-gap .slide-content .slide-btn-box .active-btn .after > span {position:absolute;font-size:16px;bottom:0;left:0;width:100%;}
@keyframes slideBtn {
    0%{height:0;z-index:1;}
    100%{height:100%;z-index:3;}
}

/* section4_arrow_btn */
#wrap #main #section4 .wrap .gap .container .content .arrow-next {z-index:2;position:absolute;top:50%;margin-top:-15px;right:-50px;width:30px;height:30px;border-top:2px solid #fff;border-right:2px solid #fff;transform:rotate(45deg);}
#wrap #main #section4 .wrap .gap .container .content.addNextActive .arrow-next {display:none;}
#wrap #main #section4 .wrap .gap .container .content .arrow-next .next-btn {display:block;width:100%;height:100%;}
#wrap #main #section4 .wrap .gap .container .content .arrow-prev {z-index:2;position:absolute;display:none;top:50%;margin-top:-15px;left:-50px;width:30px;height:30px;border-top:2px solid #fff;border-left:2px solid #fff;transform:rotate(-45deg);}
#wrap #main #section4 .wrap .gap .container .content.addNextActive .arrow-prev {display:block;}
#wrap #main #section4 .wrap .gap .container .content .arrow-prev .prev-btn {display:block;width:100%;height:100%;}

/* section5 */
#wrap #main #section5 {width:100%;padding-bottom:240px;}
#wrap #main #section5 .wrap {width:100%;}
#wrap #main #section5 .wrap .gap {margin:0;}
#wrap #main #section5 .wrap .gap .container {width:100%;}
#wrap #main #section5 .wrap .gap .container .title {text-align:center;padding-bottom:70px;}
#wrap #main #section5 .wrap .gap .container .title h2 {font-size:40px;font-weight:400;letter-spacing:-1px;text-transform: uppercase;}
#wrap #main #section5 .wrap .gap .container .slide-container {width:100%;height:100%;}
#wrap #main #section5 .wrap .gap .container .slide-container .slide-view {position:relative;width:100%;height:100%;}
#wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-wrap {z-index:1;position:relative;width:100%;height:100%;}
#wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide {position:absolute;top:0;left:0;display:block;width:100%;opacity:1;}
#wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 {position:relative;display:block;opacity:1;}
#wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 {position:relative;display:none;opacity:0;}
#wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2 {position:relative;display:none;opacity:0;}
#wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide3 {position:relative;display:none;opacity:0;}
#wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide img:nth-child(1){width:100%;}
#wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide img:nth-child(2) {display:none;}

#wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content {z-index:2;position:absolute;top:0;left:0;width:100%;}
#wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-con-txt {position:relative;max-width:1840px;margin:0 auto;width:100%;height:831.5px;}/* 831.5px 43.6941671%*/
/* #wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-con-txt::after {z-index:3;position:absolute;content:'';display:block;top:50%;bottom:0;left:0;width:100%;background-image:linear-gradient(to bottom, transparent, rgba(17, 17, 17, 0.35))} */
#wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-con-txt .txt-gap {margin:0;width:100%;height:100%;}
#wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-con-txt .txt-gap .txt-wrap {position:absolute;bottom:0;left:0;width:37.8349974%;padding:0 100px 74px;}/* 720px */
#wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-con-txt .txt-gap .txt-wrap.txt0 {display:block;opacity:1;}
#wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-con-txt .txt-gap .txt-wrap.txt1 {display:none;opacity:0;}
#wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-con-txt .txt-gap .txt-wrap.txt2 {display:none;opacity:0;}
#wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-con-txt .txt-gap .txt-wrap.txt3 {display:none;opacity:0;}
#wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-con-txt .txt-gap .txt-wrap .txt-inner {width:100%;}
#wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-con-txt .txt-gap .txt-wrap .txt-inner strong {font-size:50px;line-height:120%;font-weight:300;color:#ad7b61;letter-spacing:-1px;}
#wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-con-txt .txt-gap .txt-wrap .txt-inner p {font-size:15px;line-height:200%;margin-top:13px;}

#wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-timer-box {width:100%;}
#wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-timer-box .timer-gap {margin:0 100px;padding-bottom:60px;}
#wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-timer-box .timer-gap .timer-wrap {width:100%;}
#wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-timer-box .timer-gap .timer-wrap .timer-swipe {float:left;width:25%;}
#wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-timer-box .timer-gap .timer-wrap .timer-swipe .timer-move-btn {position:relative;display:block;width:100%;padding:17px 0;}
#wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-timer-box .timer-gap .timer-wrap .timer-swipe .timer-move-btn .text {width:85%;}
#wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-timer-box .timer-gap .timer-wrap .timer-swipe .timer-move-btn .text .text-pc {color:#fff;font-size:15px;font-weight:400;text-transform: uppercase;}
#wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-timer-box .timer-gap .timer-wrap .timer-swipe .timer-move-btn.addSlideActive .text .text-pc {color:#ad7b61;}
#wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-timer-box .timer-gap .timer-wrap .timer-swipe .timer-move-btn .line {z-index:1;position:absolute;top:0;left:0;width:100%;height:1px;background:rgba(255, 255, 255, 0.3);}
#wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-timer-box .timer-gap .timer-wrap .timer-swipe .timer-move-btn .line .inner-line {z-index:2;position:absolute;top:0;left:0;width:0;height:0px;background:#ad7b61;/* transition:all .3s; */}
#wrap #main #section5 .wrap .gap .container .slide-container .slide-view .slide-content .slide-timer-box .timer-gap .timer-wrap .timer-swipe .timer-move-btn .line .inner-line.addAutoTimer {height:1px;}

/* section6 */
#wrap #main #section6 {width:100%;padding-bottom:240px;overflow: hidden;}
#wrap #main #section6 .wrap {width:100%;}
#wrap #main #section6 .wrap .gap {margin:0;}
#wrap #main #section6 .wrap .gap .container {width:100%;}
#wrap #main #section6 .wrap .gap .container ul {width:100%;}
#wrap #main #section6 .wrap .gap .container ul li {z-index:1;position:relative;float:left;width:50%;box-sizing: border-box;}
#wrap #main #section6 .wrap .gap .container ul li:nth-of-type(1) .content-gap {margin:0 15px 0 0;}
#wrap #main #section6 .wrap .gap .container ul li:nth-of-type(2) .content-gap {margin:0 0 0 15px;}
#wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap {position:relative;width:100%;}
#wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .front-face {z-index:2;position:relative;width:100%;transform:perspective(1000px) rotateY(0deg);transition:all 1s ease-in-out;/* backface-visibility:hidden; */}/* 원래여기는없음visibility */
#wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .front-face::before {z-index:3;position:absolute;content:'';display:block;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.5);}
#wrap #main #section6 .wrap .gap .container ul li:hover .content-gap .content-wrap .front-face {z-index:1;/* backface-visibility:hidden; */transform:rotateY(-180deg);}
#wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .front-face .img-wrap {z-index:1;position:relative;width:100%;}
#wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .front-face .img-wrap > img.pc-img {display:block;width:100%;}
#wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .front-face .img-wrap > img.mobile-img {display:none;}
/* #wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .front-face .img-caption {z-index:2;position:absolute;bottom:40px;left:20px;width:100%;}
#wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .front-face .img-caption h2 {font-size:30px;font-weight:500;} */

#wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .back-face {z-index:1;position:absolute;top:0;left:0;width:100%;height:100%;background-image:linear-gradient(to bottom,#111, rgba(255,255,255,.15));transform:perspective(1000px) rotateY(180deg);transition:all 1s ease-in-out;backface-visibility:hidden;}
#wrap #main #section6 .wrap .gap .container ul li:hover .content-gap .content-wrap .back-face {z-index:2;transform:rotateY(0deg);transition:all 1s ease-in-out;}
#wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .back-face .back-gap {padding:100px;box-sizing: border-box;}
#wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .back-face .back-gap .back-content {width:100%;}
#wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .back-face .back-gap .back-content h3 {font-size:30px;font-weight:500;padding-bottom:40px;}
#wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .back-face .back-gap .back-content p {width:75%;font-size:15px;line-height:150%;padding-bottom:30px;}
#wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .back-face .back-gap .back-content h4 {display:inline-block;width:100%;}
#wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .back-face .back-gap .back-content h4 a {position:relative;display:inline-block;}
#wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .back-face .back-gap .back-content h4 a > span {font-size:15px;font-weight:500;color:#fff;}
#wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .back-face .back-gap .back-content h4 a > span > span {display:block;width:0;height:1px;background:#fff;margin-top:3px;transition:all .3s;}
#wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .back-face .back-gap .back-content h4 a.addUnderLine > span > span {display:block;width:100%;height:1px;background:#fff;margin-top:3px;animation:btline .3s}
@keyframes btline {
    0%{width:0;}
    100%{width:100%;}
}
#wrap #main #section6 .wrap .gap .container ul li .content-gap .content-wrap .back-face .back-gap .back-content h4 a > span > i {position:absolute;top:3px;right:-10px;display:inline-block;width:8px;height:8px;border-top:2px solid #ad7b61;border-right:2px solid #ad7b61;transform:rotate(45deg);}

/* section7 */
#wrap #main #section7 {}

/* section8 */
#wrap #main #section8 {}

/* section9 */
#wrap #main #section9 {}

/* footer */
#wrap #footer {z-index:1;position:relative;}